@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@import "tailwindcss";

@theme {
  --color-color1: #1f1f1f;
  --color-color2: #8c8c8c;
  --color-color3: #5c5c5c;
  --color-color4: #e6e6e6;
  --color-color5: #121212;

  --font-dmSans: "DM Sans", sans-serif;
  --font-raleway: "Raleway", sans-serif;
  --font-robotoFlex: "Roboto Flex", sans-serif;
  --font-robotoMono: "Roboto Mono", monospace;
}

* {
  box-sizing: border-box;
  transition: all 0.3s;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #121212;
  font-family: "DM Sans", sans-serif;
  overflow-x: hidden;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  width: 0;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
